block variables
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    title #{title}

  style.
    body,
    h1 {
        font-family: "Montserrat", sans-serif
    }
    .grid-container {
        display: grid;
    }
    footer {
        position: fixed;
        bottom: 0;
        margin-top: 20px;
        width: 100%;
    }

  body
    div(class="w3-content" style="max-width:1500px")
        div(class="w3-opacity")
            header(class="w3-center w3-margin-bottom")
                h1
                    b #{title}
                p
                    b #{description}
            
        div(class="grid-container w3-center")
            div(class="grid-item")
                img(src="/data/images/qr-whale.png" alt="drawing" width="250")
            div(class="grid-item")
                p(class="w3-padding-16")
                button(class="w3-button w3-black" onclick="loadARCollection()") AR Collection
            div(class="grid-item")
                p(class="w3-padding-16")
                button(class="w3-button w3-black" onclick="loadARHunt()") AR Treasure Hunt

    footer(class="w3-container w3-light-grey w3-center w3-opacity w3-xlarge")
        a(href="https://github.com/benknight135/my-virtual-museum")
            i(class="fa fa-github w3-hover-opacity")

    script.
        function loadARCollection(){
            window.location.href = "/ar-collection-select"
        }

        function loadARHunt(){
            window.location.href = "/ar-hunt-select"
        }
